/* ----------------------------------- Header Section ------------------------------------- */
@media screen and (max-width: 600px){
    #body-header{
        height: 50vh;
    }
    .horizental-list li a{
        color: white;
        font-size: 12px;
        font-weight: 500;
        text-decoration: none;
        transition: color 0.5s;
    }
    .horizental-list{
        padding-left: 0px;
    }
    .horizental-list li{
        margin: 5px;
    }
    #my-name{
        margin-top: 16vh;
        font-size: 3rem;
        color: white;
        font-weight: 600;
        margin-bottom: 0.4rem;
    }
    .social-icons li a img{
        margin-bottom: 6px;
        width: 1.8rem;
        padding:2px 8px;
    }
}

/* ----------------------------------- About Section ------------------------------------- */
@media screen and (max-width: 600px){
    #my-image{
        height: 12rem;
        width: 12rem;
        margin: auto;
        margin-bottom: -50px;
    }
    h3{
        font-size: 16px;
        width: 90vw;
        margin-bottom: 2rem;
        text-align: center;
        margin-top: -40px;
    }
    #about p{
        margin: auto;
        width: 90vw;
        font-size: 14px;
        color: #554d4d;
        font-family: serif;
        margin-top: -20px;
        margin-bottom: -15px;
    }
    #about{
        margin-bottom: -15px;
    }
}

/* git add .     git commit -m "skills"       git push -u origin main   */

/* ----------------------------------- Skills Section ------------------------------------- */
@media screen and (max-width: 600px){
    
}






